/*
 * Header
*/
.page-header {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 3.3rem;

    background-color: var(--header-background);
    color: var(--header-text-primary);

    border-bottom: 1px solid var(--border-secondary);

    padding: 0.3rem 1rem;
    box-sizing: border-box;

    .page-header--container {
        width: 100%;
        height: 100%;

        max-width: $content-width - $content-width-overflow;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-logo {
    float: left;
    height: 100%;

    box-sizing: border-box;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    
    a {
        display:inline-block;
        text-decoration: none;
        color: var(--header-text-primary);
        height: 100%;
    }

    img {
        height: 100%;
    }
}

.header-nav {
    height: 100%;
    float: right;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    gap: 0.75rem;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        min-width: 3rem;
        max-width: 6rem;

        border-radius: 3px;

        padding-left: 0.5rem;
        padding-right: 0.5rem;
        box-sizing: border-box;

        text-decoration: none;
        color: var(--header-text-primary);

        &:hover {
            background-color: var(--hr-nav-hov);
        }
    }
}


/*
 * Main
*/
.page-main {
    position: relative;
    margin: 0 auto;

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    svg {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

/*
 * Post
*/
.post {
    .post--heading {
        h1 {
            font-size: 2.5rem;
            margin-block-end: 0.4rem;
        }

        p {
            opacity: 0.7;
            font-size: 0.8em;
            margin-block-end: 0.5rem;

            a {
                text-decoration: underline;
            
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .post--content {
        margin-block-start: 1rem;
        margin-block-end: 1rem;

        a {
            color: var(--text-link);
            text-decoration: underline;
    
            &:hover {
                text-decoration: none;
            }
        }
    }
}

/*
 * Card
*/
.card-container {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 1rem;
    border: 1px solid var(--border-primary);
    border-radius: 3px;
    background-color: var(--card-background-primary);

    h2 {
        font-size: 1.5rem;
    }

    a {
        color: default;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}


/*
 * Footer
*/
.page-footer {
    position: relative;
    padding: 4rem 1rem 1rem 1rem;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    gap: 1rem;

    height: 2rem;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        min-width: 4rem;
        max-width: 6rem;

        border-radius: 3px;

        padding-left: 0.5rem;
        padding-right: 0.5rem;
        box-sizing: border-box;

        text-decoration: none;
        color: var(--text-primary);

        &:hover {
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }
}

.footer-hr {
    max-width: $content-width + $content-width-overflow;
    border: 0;
    border-top: 1px solid var(--border-primary);

    margin-left: auto;
    margin-right: auto;
}

