<header class="page-header">
    <div class="page-header--container">
        <div class="header-logo">
            <a aria-label="Home" href="{{ '/' | relative_url }}">
                <img alt="Website logo" src="{{ '/assets/images/logo.svg' | relative_url }}" loading="eager" width="37px" height="37px">
            </a>
        </div>

        <nav class="header-nav">
            <a href="{{ '/feed' | relative_url }}">Posts</a>
            <a href="{{ '/about' | relative_url }}">About me</a>
        </nav>
    </div>
</header>